
            body
            {
                background-color: aquamarine;
            }
           .main
           {
               background-color: aliceblue;
               border-radius: 10px;
               border: 3px solid rgb(0, 225, 255);
               margin: auto;
               margin-top: 10%;
               width: 30%;
               padding:4%;
               text-align: center;
           }  
           .inp
           {
            width: 180px;
            box-sizing: border-box;
            font-size: 16px;
            background-color: white;
            border-radius: 6px;
            
            
           }   
           .inp:focus
           {
            transition: width 0.5s ease-in-out;
            width: 70%;
            border: 2px solid rgb(255, 67, 67);
            border-radius: 6px;
            
           }
           .button 
           {
                
                    color: white;
                    padding: 6px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.1s;
                    cursor: pointer;
            }
            .button1 {
                background-color: white; 
                color: black; 
                border: 2px solid #4CAF50;
                }

                .button1:hover {
                background-color: #4CAF50;
                color: white;
                }
            .head
            {
                position: fixed;
                top:0px;
                left:0px;
                padding:1%;
                width:100%;
                
                background-color: rgb(0, 114, 221);
                color: white;
                font-size:250%;
                text-align: center;
                
            }
            .textlogin {
                color: rgb(0, 110, 255);
                font-size: 120%;
                display: block;
            }
            
            .content {
                text-align: center;
            }
            .anchor {
                text-align: center;
            }
            .pimage {
                text-align: center;
            }
      
           
           
           
           
            @media only screen and (max-width: 768px) 
{


.head {

    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0.5%;
    width: 100%;
    background-color: rgb(0, 114, 221);
    color: white;
    font-size: 200%;
    text-align: center;

}

.textlogin {
    color: rgb(0, 110, 255);
    font-size: 100%;
    display: block;
}

.main {

    background-color: aliceblue;
    border-radius: 10px;
    border: 3px solid rgb(0, 225, 255);
    margin: auto;
    
    margin-top: 15%;
    width: 29%;
    padding: 5%;
    text-align: left;
    

}

.inp {
    width: 77%;
    box-sizing: border-box;
    font-size: 15px;
    background-color: white;
    border-radius: 6px;
    
}
.inp:focus
           {
            transition: width 0.3s ease-in-out;
            width: 100%;
            border: 2px solid rgb(255, 67, 67);
            border-radius: 6px;
            
           }
.button1 {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}
.button {
    
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 0px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.content {
    text-align: center;
}
.anchor {
    text-align: center;
}
.pimage {
    text-align: center;
}


}

@media only screen and (max-width:500px)
{

    .head {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 0.5%;
        width: 100%;
        background-color: rgb(0, 114, 221);
        color: white;
        font-size: 150%;
        text-align: center;
    }
    .main {
        background-color: aliceblue;
        border-radius: 10px;
        border: 3px solid rgb(0, 225, 255);
        margin: auto;
          
        margin-top: 15%;
        width: 45%;
        padding: 5%;
        text-align: left;
        font-size: 84%;
    }

    .inp {
        width: 93%;
        box-sizing: border-box;
        font-size: 15px;
        background-color: white;
        border-radius: 6px;
    }
    .button {
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 0px;
        transition-duration: 0.1s;
        cursor: pointer;
    }
    .textlogin {
        color: rgb(0, 110, 255);
        font-size: 75%;
        display: block;
    }
    .content {
        text-align: center;
    }
    .anchor {
        text-align: center;
    }
    .pimage {
        text-align: center;
    }
}